#solveDetailsModal .modal-body {
  min-height: 30vh;
}
#solveDetails input[type='text'] {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}
#scrambleChosen {
  font-size: 1.3rem;
}
#solveChosen {
  font-size: 1.4rem;
}
#dateChosen {
  font-size: 1.05rem;
}
#scrambleRepresentation {
  height: 30vh;
}
#timeTools li {
  font-size: 1.2rem;
}
