html, body {
	max-height: 100vh;
	max-width: 100vw;
	scroll-behavior: smooth;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}
form .btn {
	width: 50%;
}
#loginContainer {
	height: 100vh;
	width: 100vw;
}
/* Main card */
.card {
	min-height: 30vh;
	height: auto;
	width: 40vw;
}
/* User avatar */
#avatarContainer {
	border-radius: 25%;
	width: auto;
}
#avatarContainer label:hover {
	cursor: pointer;
}
#topAvatar {
	border-radius: 50%;
	height: 20vh;
	width: 20vh;
}
/* Media Queries */
@media only screen and (max-width: 992px) {
	.card {
		width: 80vw;
	}
}
@media only screen and (max-width: 768px) {
	form .btn {
		width: 100%;
		margin-top: 1%;
	}
	.card {
		width: 65vw;
	}
}
