html, body {
  max-width: 100vw;
  max-height: 100vh;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
#topAvatar {
  border-radius: 50%;
  height: 17vh;
}
#userStats h4, #usernameTitle {
  color: white;
}
#usernameTitle {
  font-size: 3rem;
}
#userStats {
  height: auto;
}
#personnalInfos {
  max-height: 40vh;
}
.formLabel {
  color: white;
}
.userInfosTitle {
  white-space: nowrap;
}
.userPersonnalInfos {
  width: 65%;
}
#overview {
  height: 40vh;
}
#overviewStats {
  height: 100%;
}
#chartContainer {
  width: 100%;
  max-height: 100%;
}
#settings {
  max-height: 29vh;
}
#settingsButton:hover {
  background-color: #E55000;
}
#signOffButton:hover {
  background-color: #009B48;
}
#deleteAccountButton:hover {
  background-color: #ED0427;
}
#history {
  max-height: 40vh;
  overflow: hidden;
}
#history .card-body {
  max-height: 40vh;
  overflow-y: auto;
}
#history td {
  background-color: white;
}
#savedSolve {
  height: auto;
  max-height: 50vh;
}
#solveScramble {
  font-size: 1.1rem;
  color: white;
}
#solveRepresentation {
  width: 50%;
  background-color: #e9ecef;
  border-radius: 20px;
}
#solveRepresentation img {
  width: 100%;
}
#solveStats {
  color: white;
}
#solveTime{
  font-size: 1.2rem;
}
#savedAverage {
  height: 55vh;
  overflow-y: hidden;
}
#savedAverage .card-body {
  overflow-y: auto;
}
#savedAverage .averageLoaded {
  height: auto;
}
/* Settings modal */
#settingsModal {
  min-height: 80vh;
}
/* Media Queries */
@media only screen and (max-width: 992px) {
  #personnalInfos {
    max-height: 55vh;
  }
  .userPersonnalInfos {
    margin-left: auto;
    margin-right: 4%;
  }
}
@media only screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #overview {
    height: 65vh;
  }
  #overviewStats {
    height: 30%;
    min-width: 100%;
  }
  #chartContainer {
    height: 50%;
    min-width: 100%;
  }
  #overview .card-body {
    flex-direction: column;
  }
  #chartContainer {
    margin-top: 1vh;
    height: 35vh;
  }
}
@media only screen and (max-width: 575px) {
  #personnalInfos, #overview, #settings, #history, #savedSolve, #savedAverage {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .userPersonnalInfos {
    margin-right: 1%;
  }
}
